<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>
      <div style="display: flex; justify-content: center;">
            <form action="/users" method="POST">
              <div style="display: flex; flex-direction: column; align-items: center; margin-bottom:10px;">
                <input type="text" name="name" placeholder="Enter Your Name" style="margin-bottom: 10px;">
                <input type="number" name="age" placeholder="Enter Your Age">
              </div>
              <button  type="submit">Save user credentials</button>
            </form>
          </div>
</body>
</html>